html, body {
    padding: 0;
    font-family: Karla;
    background: #ECF2FF;
}

main {
    /* 
        Vertically Stack 
        & Horizontally Center contents
    */
}

input {
    text-align: center;
    font-size: 2rem;
    background-color: wheat;
    outline: none;
    margin: 0.5rem;
    border-radius: 0.3rem;
    width: 10rem;
}

button {
    border: none;
    background-color: #4CAF50;
    font-size: 2rem;
    color: white;
    padding: 0.3rem 1rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem;
    width: 10rem;
    outline: none;
}


h3 {
    display: flex;
}

h3 > .equation-component {
    background-color: #008CBA;
    color: white;
    font-size: 2rem;
    padding: 0.1rem 1rem;
}