body {
    margin: 0;
    background: #ac8d0b;
}

form {
    margin: auto;
}

h3 {
    color: green;
    margin-top: 20px;
    margin-bottom: 0;
}

input {
    border-radius: 20px;
    width: 200px;
}

button {
    display: block;
    border-radius: 2px;
    background: #3d492b;
    font-size: 15px;
    transition: 500ms;
}

button:hover {
    font-size: 20px;
    box-shadow: 0 14px 16px 0 rgba(18, 90, 4, 0.6), 0 16px 35px 0 rgba(49, 4, 174, 0.45);
    transition: 500ms;
}

button:active {
    color: red;
}